.border {
  border: 20px;
}
a {
  text-decoration: none;
}
table.table {
  margin-top: 30px;
}
.table-dark th {
  background: rgb(48, 48, 48);
}

#logout_button {
  display: flex;
  justify-content: right;
}

.btn-outline-secondary {
  color: rgb(255, 89, 89);
  border-color: rgb(255, 89, 89);
}
